.content {
    padding-top: 3%;
}

.avatar {
    width: 60%;
    padding-bottom: 3%;
}

footer {
    background-color: #007bff;
    padding: 5% 0px 5% 0px;
}

footer > div > div {
    margin: 0px 30% 0px 30%;
}

.image > img {
    width: 90%;
    margin-left: 5%;
}

footer p {
    color: #fff;
}

.oui {
    text-align: right;
    padding: 0;
}

body {
    font-family: orkney;
}

