/*------- font -------*/
@font-face {
    font-family: orkney;
    src: url(fonts/orkney/Orkney\ Light.otf);
}

@font-face {
    font-family: orkneyy;
    src: url(fonts/orkney/Orkney\ Regular.otf);
}

/*------- reset -------*/
*{
    margin: 0;
    padding: 0;
}

/*------- main -------*/
main{
    height: 65vh;
    position: relative;

}

.content {
    padding-top: 3%;
}

.avatar {
    width: 60%;
}

body {
    font-family: orkney;
    height: 100vh;
}

/*------- footer -------*/
footer p {
    color: #fff;
}

footer .container-fluid {
    background-color: #007bff;
    height: 25vh;
}

.above-footer {
    position: absolute;
    bottom: 0;
    width: 35%;
    height: auto;
}

footer img {
    width: 30%;
}

footer .footer-div {
    width: 50%;
}

footer .container-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
}

