a {
  transition: 0.3s;
  text-decoration: none;
}

.site-logo {
  font-size: 24px;
}
  
.site-menu {
  margin-bottom: 0;
}
  
.active {
  background: #007bff;
  color: #000;
}

 a {
  display: inline-block;
}

.site-menu > li {
  display: inline-block;
}

.site-menu > li > a {
  padding: 10px 0px;
  color: #000;
}

.site-menu > li > a > span {
  padding: 10px 30px;
  display: inline-block;
  transition: 0.5s;
  border-radius: 30px;
}

 .site-menu > li > a:hover > span {
  background: #007bff;
  color: #fff;
  border-radius: 30px;
}

.navbar-brand {
  color: #007bff;
  border-width: 2px;
  border-style: solid;
  border-color: #007bff;
  padding: 8px 30px;
  border-radius: 30px;
  margin-left: 50px;
}

.navbar-brand:hover {
  background-color: #007bff;
  color: #fff;
}

header .navbar-collapse {
  justify-content: flex-end;
  padding-right: 4%;
}

header{
  height: 10vh;
}

.navbar {
  background-color: white;
  z-index: 1;
  text-align: center;
}