a {
  transition: 0.3s;
  text-decoration: none;
}

.site-logo {
  font-size: 24px;
}
  
.site-menu {
  margin-bottom: 0;
}
  
.active > a span {
  background: #007bff;
  color: #000;
}

 a {
  display: inline-block;
}

.site-menu > li {
  display: inline-block;
}

.site-menu > li > a {
  padding: 10px 0px;
  color: #000;
}

.site-menu > li > a > span {
  padding: 10px 30px;
  display: inline-block;
  transition: 0.3s;
  border-radius: 30px;
}

 .site-menu > li > a:hover > span {
  background: #007bff;
  color: #fff;
  border-radius: 30px;
}

h1 > a {
  color: #007bff;
  border-width: 2px;
  border-style: solid;
  border-color: #007bff;
  padding: 10px 30px;
  border-radius: 30px;
}

h1 > a:hover {
  background-color: #007bff;
  color: #fff;
}

header > .container-fluid {
  padding-top: 1%;
}

header .navbar-collapse {
  justify-content: flex-end;
  padding-right: 4%;
}